@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

* {
box-sizing: border-box;
border: 1px dotted transparent;
}

body {
  margin: 0;
  padding: 0;
  background: url(/images/background-color.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Chelsea Market', cursive;
  color: #413735;
}

nav, header, .row, .left, .right, #login-modal, #register-modal {
  background-color: white;
  opacity: .9;
}

.row, .left, .right {
  box-shadow: 0px 0px 5px 2px white;
}

.row, .left, .right, #login-modal, #register-modal {
  border-radius: 5px;
}

#login-modal, #register-modal {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#login-modal-content {
  background-color: white;
  height: 250px;
  width: 250px;
  margin: 150px auto;
}

#register-modal-content {
  background-color: white;
  height: 300px;
  width: 250px;
  margin: 150px auto;
}

#login-modal input, #register-modal input {
  border: 1px solid #413735;
}

.row {
  margin: 0 auto;
  width: 60%;
  padding: 1%;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: -2px;
}

dashboard-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

dashboard-icons i {
  padding: .25vh 1vw;
}

nav span {
    padding: 0vh 2vw;
}

header {
  background-color: transparent;
}

header h1 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 7em;
  text-shadow: 5px 5px #413735;
  margin-bottom: -3%;
}

h3 {
  margin: 0;
}

.hover-point:hover {
  cursor: pointer;
  color: rgb(229,91,57);
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 5%;
}

.juice-filter {
  margin: 0 5%;
}

.row div {
  padding-left: 9%;
}

.row h3 {
  padding-bottom: 5%;
}

.col-xs-4 span {
  padding: 5%;
}

.search-box {
  margin: 0 6%;
}

.search-boxbox {
  width: 70%;
  border: 1px solid #413735;
  margin-left: 2%;
}

.juicelist li {
  list-style: none;
  padding: .25vh;
}

.list-index {
  padding-left: 1%;

}

.list-index:hover {
  color: rgb(229,91,57);
  cursor: pointer;
}

.userjuicelist {
  padding: 0;
}

.userjuicelist li {
  list-style: none;
  padding: .25vh;
}

.left {
  width: 55%;
  margin-right: 2%
}

.right {
  width: 43%
}

.close-section {
  position: absolute;
  right: 47%;
  /*border: 1px solid #413735;*/
  cursor: pointer;
  margin-top: 1%;
}

.close-section:hover {
  color: rgb(229,91,57);
}

.how-to i, .full-access i {
  padding: 0 2%;
}

#info-icon, #user-icon {
  text-align: center;
}

.how-to, .full-access, .user-dashboard {
  padding: 2vh 2vw;
  font-size: 1.25em;
}

.full-access {
  margin-left: 25%;
}

.add-form {
  margin: 0 5%;
}

.form-title {
  text-align: center;
}

.add-button {
  margin-bottom: 2%;
  display: inline-block;
  float: right;
}

label {
  display: block;
  width: 10%;
}

.option {
  margin-right: 2%;
}

.show-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.show-title {
  text-align: center;
}

.ingredients, .notes {
  padding: 1vh 1vw;
}

.tagged-head-base {
  color: #9CAD68;
}

.tagged-head-type {
  color: #F9BE4E;
}

.tagged-head-flavor {
  color: #CD758D;
}

.tagged-base {
  background-color: #9CAD68;
  border-radius: 30px;
  padding: 5px;
}

.tagged-type {
  background-color: #F9BE4E;
  border-radius: 30px;
  padding: 5px;
}

.tagged-flavor {
  background-color: #CD758D;
  border-radius: 30px;
  padding: 5px;
}

@media (max-width: 760px) {
  .row {
    margin: 0 auto;
    width: 85%;
    font-size: .8em;
  }
  header h1 {
    font-size: 4.5em;
    margin-bottom: -3%;
  }

@media (max-width: 600px) {
  .left {
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
  }
  .right {
    width: 100%
  }
  .close-section {
    position: absolute;
    right: 7%;
    border: 1px solid #413735;
  }
  .search-box {
    margin: 0;
    margin-bottom: 3%;
  }
  ul {
    padding: 0;
  }
  .full-access, .add-form {
    margin-left: 0;
  }
  .row {
    margin: 0;
    width: 100%;
  }
  .row div {
    /*padding-left: 5%;*/
  }
  header h1 {
    font-size: 3em;
    margin-bottom: -9%;
  }
}
