* {
box-sizing: border-box;
border: 1px dotted red;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

dashboard-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

dashboard-icons i {
  padding: 0vh 3vw;
}

nav span {
    padding: 0vh 2vw;
}

header h1 {
  text-align: center;
  margin: 0;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 2vw;
}

.juice-filter {
  margin: 0 4vw;
}

.search-box {
  width: 90%;
  margin: 0 10%;
  margin-bottom: 3%;
}

.search-boxbox {
  width: 70%;
}

.juicelist li {
  list-style: none;
  padding: .25vh;
}

.list-index {
  padding-left: 1%;
}

.userjuicelist {
  padding: 0;
}

.userjuicelist li {
  list-style: none;
  padding: .25vh;
}

.left {
  width: 60%;
}

.right {
  width: 40%
}

.close-section {
  position: absolute;
  right: 42%;
  border: 1px solid black;
  cursor: pointer;
}

.how-to i {
  padding: 0 2%;
}

#info-icon {
  text-align: center;
}

.how-to, .full-access {
  padding: 2vh 2vw;
  font-size: 1.25em;
}

.full-access {
  margin-left: 25%;
}

@media (max-width: 760px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%
  }
  .close-section {
    position: absolute;
    right: 5%;
    border: 1px solid black;
  }
  .search-box {
    margin: 0;
    margin-bottom: 3%;
  }
  ul {
    padding: 0;
  }
}
