<i ng-click="juiceCtrl.howToHide()" class="fa fa-times fa-lg close-section" aria-hidden="true"></i>
</br>

<div id="info-icon">
  <i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
</div>

<div >
  <div class="how-to">
    <i class="fa fa-search fa-lg" aria-hidden="true"></i>Search through the database.
  </br>
    <i class="fa fa-caret-right fa-lg" aria-hidden="true"></i>Select a title from the list for recipie information.
  </br>
  </br>
    <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i><strong>Register for an account and sign in for full access to the database:</strong>
  </div>

  <div class="full-access">
    <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>View a list of juices added exclusively by you in the user dashboard.
  </br>
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>Add<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Edit or<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>Delete your submissions from the database.
  </div>

</div>
