<i ng-click="juiceCtrl.howToHide()" class="fa fa-times fa-lg close-section" aria-hidden="true"></i>
</br>

<div id="info-icon">
  <i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
</div>

<div >
  <div class="how-to">
    <i class="fa fa-search fa-lg" aria-hidden="true"></i>Search through the juice collection.  Filter by <span class="tagged-head-base">base</span>, <span class="tagged-head-type">type</span> or <span class="tagged-head-flavor">flavor</span> to narrow down the list.
  </br>
    <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>  Select a juice title from the list for more information including ingredients and instructions.
  </br>
  </br>
    <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i><strong>Register for an account for full access to the collection including:</strong>
  </div>
  <div class="full-access">
    <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>View a list of juices added exclusively by you within the user dashboard.
  </br>
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>Add<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Edit or<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>Delete your submissions from the juice collection.
  </div>

</div>
