<h3 ng-click="juiceCtrl.howToHide()">CLOSE <i class="fa fa-question-circle-o" aria-hidden="true"></i></h3>
</br>
<div>
  <p><i class="fa fa-search fa-lg" aria-hidden="true">Search through the database of juices!  Select a title from the list for recipie information.</p></i>
</div>
</br>
<div>
  <h3>Create an account and log in for:</h3>
  </br>

  <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i>User Dashboard</p></br>
  <h3>View a list of juices added exclusively by you.</h3></br>
  <h3><i class="fa fa-plus" aria-hidden="true">Add</i><i class="fa fa-pencil-square-o" aria-hidden="true">Edit or</i><i class="fa fa-times" aria-hidden="true">Delete</i> your submissions from the database.</h3>
</div>
