<fieldset>
  <legend>Add a Juice</legend>
  <form ng-submit="juiceCtrl.addOneJuice()">
    <label for="title">Title: </label>
    <input type="text" ng-model="juiceCtrl.formData.title" placeholder="Title"></br>
    <label for="ingredients">Ingredients: </label></br>
    <textarea rows="4" cols="50" ng-model="juiceCtrl.formData.ingredients" placeholder="Ingredients"></textarea></br>
    <label for="notes">Notes: </label></br>
    <textarea rows="4" cols="50" ng-model="juiceCtrl.formData.notes" placeholder="Notes"></textarea></br>
    <label>Base:</label>
    <input type="radio" ng-model="juiceCtrl.formData.tag_ingredients" value="Fruit"> Fruit
    <input type="radio" ng-model="juiceCtrl.formData.tag_ingredients" value="Veggie"> Veggie
    <input type="radio" ng-model="juiceCtrl.formData.tag_ingredients" value="Mixed"> Mixed
    </br>
    <label>Type:</label>
    <input type="radio" ng-model="juiceCtrl.formData.tag_type" value="Green"> Green
    <input type="radio" ng-model="juiceCtrl.formData.tag_type" value="Citrus"> Citrus
    <input type="radio" ng-model="juiceCtrl.formData.tag_type" value="Berry"> Berry
    <input type="radio" ng-model="juiceCtrl.formData.tag_type" value="Root"> Root
    </br>
    <label>Flavor:</label>
    <input type="radio" ng-model="juiceCtrl.formData.tag_flavor" value="Sweet"> Sweet
    <input type="radio" ng-model="juiceCtrl.formData.tag_flavor" value="Mild"> Mild
    <input type="radio" ng-model="juiceCtrl.formData.tag_flavor" value="Spicy"> Spicy
    </br>
    <input type="submit" value="Add">
  </form>
</fieldset>
