<i ng-click="juiceCtrl.hideEditForm()" class="fa fa-times fa-lg close-section" aria-hidden="true"></i>
<div class="add-form">
<fieldset>
  <form ng-submit="juiceCtrl.editOneJuice(juiceCtrl.singleJuice)">
    <div class="form-group">
    <label for="title">Title: </label>
    <input class="form-control" type="text" ng-model="juiceCtrl.singleJuice.title"></br>
    </div>

    <label for="ingredients">Ingredients: </label></br>
    <textarea class="form-control" rows="3" ng-model="juiceCtrl.singleJuice.ingredients"></textarea></br>
    <label for="notes">Notes: </label></br>
    <textarea class="form-control" rows="3"ng-model="juiceCtrl.singleJuice.notes"></textarea></br>
    <label class="radio">Base:</label>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_ingredients" value="Fruit"><span class="option"> Fruit</span>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_ingredients" value="Veggie"><span class="option"> Veggie</span>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_ingredients" value="Mixed"><span class="option"> Mixed</span>
    </br>
    <label class="radio">Type:</label>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Green"><span class="option"> Green</span>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Citrus"><span class="option"> Citrus</span>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Berry"><span class="option"> Berry</span>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Root"><span class="option"> Root</span>
    </br>

    <label class="radio">Flavor:</label>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_flavor" value="Sweet"><span class="option"> Sweet</span>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_flavor" value="Mild"><span class="option"> Mild</span>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_flavor" value="Spicy"><span class="option"> Spicy</span>
    </br>
    <input class="btn btn-default add-button" type="submit" value="Submit Changes">
  </form>
</fieldset>

<div ng-click="juiceCtrl.deleteOneJuice(juiceCtrl.singleJuice)">
  <button class="btn btn-danger add-button" type="button"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>Delete</button>
</div>
</div>
