<span ng-click="juiceCtrl.hideEditForm()">Cancel Edit</span>
<fieldset>
  <legend>Edit {{juiceCtrl.singleJuice.title}}</legend>
  <form ng-submit="juiceCtrl.editOneJuice(juiceCtrl.singleJuice)">
    <label for="title">Title: </label>
    <input type="text" ng-model="juiceCtrl.singleJuice.title" placeholder="Title"></br>
    <label for="ingredients">Ingredients: </label></br>
    <textarea rows="4" cols="50" ng-model="juiceCtrl.singleJuice.ingredients" placeholder="Ingredients"></textarea></br>
    <label for="notes">Notes: </label></br>
    <textarea rows="4" cols="50" ng-model="juiceCtrl.singleJuice.notes" placeholder="Notes"></textarea></br>
    <label>Base:</label>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_ingredients" value="Fruit"> Fruit
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_ingredients" value="Veggie"> Veggie
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_ingredients" value="Mixed"> Mixed
    </br>
    <label>Type:</label>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Green"> Green
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Citrus"> Citrus
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Berry"> Berry
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_type" value="Root"> Root
    </br>

    <label>Flavor:</label>
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_flavor" value="Sweet"> Sweet
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_flavor" value="Mild"> Mild
    <input type="radio" ng-model="juiceCtrl.singleJuice.tag_flavor" value="Spicy"> Spicy
    </br>
    <input type="submit" value="Submit Changes">
  </form>
</fieldset>

<div ng-click="juiceCtrl.deleteOneJuice(juiceCtrl.singleJuice)">
  <i class="fa fa-times" aria-hidden="true">Delete {{juiceCtrl.singleJuice.title}}</i>
</div>
