<h2>Dashboard</h2>
<button ng-click="juiceCtrl.userListFalse()">CLOSE</button>
<ul>
  <span ng-if="userLoggedIn" ng-click="juiceCtrl.showAddForm()"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></span></br>
  <li ng-repeat="singleJuice in juices | orderBy: 'title' | filter: juiceCtrl.filterJuice | filter: filterBox" ng-click="juiceCtrl.showOneJuice(singleJuice.id)" ng-if="singleJuice.userList">
    <i ng-if="singleJuice.editButton" type="button" ng-click="juiceCtrl.showEditForm()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
  {{singleJuice.title}}
  </li>
</ul>
