<i ng-click="juiceCtrl.userListFalse()" class="fa fa-times fa-lg close-section" aria-hidden="true"></i>

<div id="user-icon">
  <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
</div>
</br>
<div class="user-dashboard">
  <div ng-click="juiceCtrl.showAddForm()">
    <h3><i ng-if="userLoggedIn" class="fa fa-plus fa-lg" aria-hidden="true"></i> Add to the database</h3>
  </div>
  </br>
  <i class="fa fa-times" aria-hidden="true"></i> Delete a juice within the edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i> dashboard
</div>

<div class="userjuicelist">
  <ul>
    <li ng-repeat="singleJuice in juices | orderBy: 'title' | filter: juiceCtrl.filterJuice | filter: filterBox" ng-click="juiceCtrl.showOneJuice(singleJuice.id)" ng-if="singleJuice.userList">
      <i ng-if="singleJuice.editButton" type="button" ng-click="juiceCtrl.showEditForm()" class="fa fa-pencil-square-o" aria-hidden="true"></i> {{singleJuice.title}}

    </li>
  </ul>
</div>
