<fieldset>
  <legend>Add a Juice</legend>
  <form ng-submit="juiceCtrl.addOneJuice()">
    <label for="title">Title: </label>
    <input type="text" ng-model="juiceCtrl.formData.title" placeholder="Title"></br>
    <label for="ingredients">Ingredients: </label></br>
    <textarea rows="4" cols="50" ng-model="juiceCtrl.formData.ingredients" placeholder="Ingredients"></textarea></br>
    <label for="notes">Notes: </label></br>
    <textarea rows="4" cols="50" ng-model="juiceCtrl.formData.notes" placeholder="Notes"></textarea></br>
    <label>Kind:</label>
    <input type="radio" ng-model="juiceCtrl.formData.tag_type" value="kind1"> Kind 1
    <input type="radio" ng-model="juiceCtrl.formData.tag_type" value="kind2"> Kind 2
    <input type="radio" ng-model="juiceCtrl.formData.tag_type" value="kind3"> Kind 3
    </br>
    <label>Type:</label>
    <input type="radio" ng-model="juiceCtrl.formData.tag_ingredients" value="type1"> Type 1
    <input type="radio" ng-model="juiceCtrl.formData.tag_ingredients" value="type2"> Type 2
    <input type="radio" ng-model="juiceCtrl.formData.tag_ingredients" value="type3"> Type 3
    </br>
    <label>Flavor:</label>
    <input type="radio" ng-model="juiceCtrl.formData.tag_flavor" value="flavor1"> Flavor 1
    <input type="radio" ng-model="juiceCtrl.formData.tag_flavor" value="flavor2"> Flavor 2
    <input type="radio" ng-model="juiceCtrl.formData.tag_flavor" value="flavor3"> Flavor 3
    </br>
    <input type="submit" class="add-submit" value="Add">
  </form>
</fieldset>
