<i class="fa fa-search fa-lg" aria-hidden="true"></i><input type="text" ng-model="filterBox"></br>

<h3>Base:</h3>
  <input ng-model="juiceCtrl.filterBase['Fruit']" type="checkbox" value="Fruit"/>Fruit</br>
  <input ng-model="juiceCtrl.filterBase['Veggie']" type="checkbox" value="Veggie"/>Veggie</br>
  <input ng-model="juiceCtrl.filterBase['Mixed']" type="checkbox" value="Mixed"/>Mixed

<h3>Type:</h3>
  <input ng-model="juiceCtrl.filterType['Green']" type="checkbox" value="Green"/>Green</br>
  <input ng-model="juiceCtrl.filterType['Citrus']" type="checkbox" value="Citrus"/>Citrus</br>
  <input ng-model="juiceCtrl.filterType['Berry']" type="checkbox" value="Berry"/>Berry</br>
  <input ng-model="juiceCtrl.filterType['Root']" type="checkbox" value="Root"/>Root

<h3>Flavor:</h3>
  <input ng-model="juiceCtrl.filterFlavor['Sweet']" type="checkbox" value="Sweet"/>Sweet</br>
  <input ng-model="juiceCtrl.filterFlavor['Mild']" type="checkbox" value="Mild"/>Mild</br>
  <input ng-model="juiceCtrl.filterFlavor['Spicy']" type="checkbox" value="Spicy"/>Spicy</br>
