<form ng-submit="loginCtrl.login(loginData)">
  <fieldset>
    <legend>Sign In</legend>
    <label for="username">Username: </label>
      <input type="text" ng-model="loginData.username" placeholder="username" />
    <label for="password">Password: </label>
      <input type="password" ng-model="loginData.password" placeholder="password" />
      <input type="submit">
  </fieldset>
</form>

<h1>{{loginCtrl.loginMessage}}</h1>

<!-- FOR TESTING ONLY -->

<!-- <p>Logged in username: {{loginCtrl.user.username}}</p>
<p>Logged in display: {{loginCtrl.user.display}}</p> -->

<!-- <h4 ng-click="loginCtrl.getUsers()">Secret Stuff</h4>

<div>{{loginCtrl.error}}</div>

<div ng-repeat="user in loginCtrl.users">
<h2>{{user.display}}</h2>
</div> -->

<a href="#" ng-click="loginCtrl.logout()">Log Out</a>
