<div id="login-modal">
  <span ng-click="loginCtrl.hideLogin()">Cancel</span>
    <form ng-submit="loginCtrl.login(loginData)">
      <fieldset>
        <legend>Sign In</legend>
        <label for="username">Username: </label>
          <input type="text" ng-model="loginData.username" placeholder="username" required/>
        <label for="password">Password: </label>
          <input type="password" ng-model="loginData.password" placeholder="password" required/>
          <input type="submit">
      </fieldset>
    </form>

  <span>{{loginCtrl.loginMessage}}</span>
</div>
