<div id="login-modal">

  <div id="login-modal-content">
    <span id="login-close" ng-click="loginCtrl.hideLogin()">Cancel</span>
      <form ng-submit="loginCtrl.login(loginData)">
        <fieldset>
          <legend>Sign In</legend>
          <label for="username">Username: </label>
            <input type="text" ng-model="loginCtrl.loginData.username" placeholder="username" required/>
          <label for="password">Password: </label>
            <input type="password" ng-model="loginCtrl.loginData.password" placeholder="password" required/>
            <input type="submit">
        </fieldset>
      </form>

    <span>{{loginCtrl.loginMessage}}</span>
  </div>

</div>
