<div id="register-modal">

  <div id="register-modal-content">
    <i id="register-close" class="fa fa-times fa-lg close-section-modal" ng-click="loginCtrl.hideRegister()"></i>
      <form ng-submit="loginCtrl.register(registerData)">
        <fieldset>
          <legend>Register</legend>
          <label for="display">Display Name: </label>
          <input type="text" ng-model="registerData.display" required>
          <label for="username">Username: </label>
          <input type="text" ng-model="registerData.username" required>
          <label for="password">Password: </label>
          <input type="password" ng-model="registerData.password" required>
          <input type="submit" class="submit" value="Register">
        </fieldset>
      </form>

    <span class="message">{{loginCtrl.registerMessage}}</span>
  </div>

</div>
